<!DOCTYPE HTML>

{% load get_meta %}
{% get_meta request.path as meta_data %}
{% get_meta_form meta_data as meta_form %}
<html>
<head>
	<title>
		Стоматология Аргентит | {{meta_data.title}}
	</title>
	<meta name="description" content="{{meta_data.description}}">
	<meta name="keywords" content="{{meta_data.keywords}}">
	{% block head %}
	{% endblock %}
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	{% include 'prod_tags.html' %}
	{% load staticfiles %}
	{% load bootstrap4 %}
	{% bootstrap_javascript jquery="slim" %}
	<link rel="stylesheet" href="{% static 'styles.css' %}">
	<link rel="stylesheet" href="{% static 'style.css' %}">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
	<link rel="icon" type="image/png" href="{% static 'images/favicon.png'%}">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js">
	</script>

</head>
<body class="b-0 p-0" style="min-width:1246px;">
		<div class="row mx-2 my-2 text-mgrey" >
			<div class="col-3">
				<div class="d-flex justify-content-center">
					<a href="{% url 'home_url' %}" ><img src="{% static 'images/logo2.png'%}" class="" style="max-height:100px;max-width:100%;"></a>
				</div>
			</div>
			<div class="col-5 mt-4">
				<div class="d-flex justify-content-center">
					<div class="row">
						<div class="col-12">
							<div class="row h2">
								<a class="text-mgrey for-small-devices no-underline" href="tel:74912768773">
									<i class="fas fa-phone"></i>
									+7(4912)76-87-73
								</a>
								<a href="https://vk.com/argentitryazan" class="text-mgrey ml-4">
									<i class="fab fa-vk"></i>
								</a>
							</div>
							<div class="row h2 align-bottom mb-0">
								<a class="text-mgrey for-small-devices" href="tel:74912768773">
									<i class="fas fa-phone"></i>
									+7(4912)92-34-02
								</a>
								<a href="https://www.instagram.com/argentitrzn/" class="text-mgrey ml-4">
									<i class="fab fa-instagram"></i>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col mt-4 ">
				<div class="">
					<div class="row">
						<div class="col pr-0">
							<a target="_blank" class=" ml-0 text-mgrey h4 for-small-devices" href="https://yandex.ru/maps/-/CBQgrCEm0D" title="Показать на карте (Яндекс)">
								<i class="fas fa-home"></i>
								Рязань, ул. Дзержинского, д. 42
							</a>
						</div>
					</div>

					<div class="d-flex flex-row">
						<div class="col">
							<div class="row">
								ПН-ПТ
							</div>
							<div class="row">
								8:00-20:00
							</div>
						</div>
						<div class="col">
							<div class="row">
								СБ
							</div>
							<div class="row">
								9:00-18:00
							</div>
						</div>
						<div class="col">
							<div class="row">
								ВС
							</div>
							<div class="row">
								Выходной
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<nav class="navbar navbar-expand bg-dred sticky-top">
			<ul class="navbar-nav text-center w-100">
				<li class="nav-item dropdown">
	 				<a class="nav-link text-lgrey mb-0" href="{% url 'services_url' %}" id="" data-toggle="">
						Услуги и цены
	 				</a>
	 				<div class="dropdown-menu rounded-0 mt-0">
						{% load get_all_objects %}
						{% get_all_objects 'Service' as all_services %}
						{% for item in all_services %}
							<a class="dropdown-item" href="{% url 'service_url' item.id %}">{{item.name}}</a>
						{% endfor %}
	 				</div>
   				</li>
				<li class="nav-item">
	  				<a class="nav-link text-lgrey" href="{% url 'doctors_url' %}">Наши врачи</a>
				</li>
				<li class="nav-item">
	  				<a class="nav-link text-lgrey" href="{% url 'technologies_url' %}">Технологии</a>
				</li>
				<li class="nav-item">
	  				<a class="nav-link text-lgrey" href="{% url 'results_url' %}">Результаты</a>
				</li>
				<li class="nav-item">
	  				<a class="nav-link text-lgrey" href="{% url 'comments_url' %}">Отзывы</a>
				</li>
				<li class="nav-item">
	  				<a class="nav-link text-lgrey" href="{% url 'news_url' %}">Новости</a>
				</li>
				<li class="nav-item">
	  				<a class="nav-link text-lgrey" href="{% url 'about_url' %}">О нас</a>
				</li>
				{% if request.user.is_authenticated %}
					<li class="nav-item ml-auto">
		  				<a class="nav-link text-lgrey" href="{% url 'logout_url' %}">Выйти</a>
					</li>
				{% endif %}
			</ul>
		</nav>
	<div class="mx-5" style="min-height:87.5vh">
		<br>
		{% block content %}{% endblock %}
		<br>
	</div>
	{% if request.user.is_authenticated %}
		<div class="mx-5">
			<p class="h2">
				Мета информация о странице
				<code>
					{{meta_data.url}}
				</code>
			</p>
			{% if meta_form_error %}
				<div class="alert alert-danger rounded-0 container">{{meta_form_error_message|safe}}</div>
			{% endif %}
			<form class="" action="{% url 'edit_meta_url' id=meta_data.id %}" method="post">
				{% csrf_token %}
				{{meta_form.as_p}}
				<div class="col-2 pl-0">
					<input type="submit" value="Сохранить" class="btn btn-success rounded-0 container-fluid">
				</div>
			</form>
		</div>
		<br>
	{% endif %}
  	<footer class="page-footer font-small bg-dred text-center container-fluid m-0 rounded-0 text-lgrey">
		<div class="row">
			<ul class="nav col my-3">
				<li class="nav-item">
    				<a class="nav-link text-lgrey" href="{% url 'info_url' %}">Правовая информация</a>
  				</li>
				<li class="nav-item">
    				<a class="nav-link text-lgrey" href="{% url 'for_patients_url' %}">Пациентам</a>
  				</li>
				<li class="nav-item">
    				<a class="nav-link text-lgrey" href="{% url 'jobs_url' %}">Вакансии</a>
  				</li>
				<li class="nav-item">
    				<a class="nav-link text-lgrey" href="{% url 'charity_url' %}">Благотворительность</a>
  				</li>
			</ul>
			<div class="col-4 my-2" style="font-size:80%;">
				{% include 'prod_footer.html' %}
			</div>
		</div>
  	</footer>
</body>
</html>
