<!DOCTYPE HTML>
<html>
<head>
	<title>
		Стоматология Аргентит |
		{% block title %}
			Стоматология Аргентит
		{% endblock %}
	</title>
	{% block head %}
	{% endblock %}
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	{% load staticfiles %}
	{% load bootstrap4 %}
	{% bootstrap_javascript jquery="slim" %}
	<link rel="stylesheet" href="{% static 'styles.css' %}">
	<link rel="stylesheet" href="{% static 'style.css' %}">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
	<link rel="icon" type="image/png" href="{% static 'images/favicon.png'%}">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js">
	</script>

</head>
<body style="min-width:1024px;">
		<div class="row mx-0 my-2 text-mgrey" ><!-- logo and contact info -->
			<div class="col-3">
				<a href="{% url 'home_url' %}" ><img src="{% static 'images/logo2.png'%}" class="col" style="max-height:100px;width:auto;"></a>
			</div>
			<div class="col-4 mt-2">
				<div class="row">
					<div class="col-12">
						<div class="row h2">
							<i class="fas fa-phone"> </i><a class="text-mgrey" href="tel:74912768773"> +7(4912)76-87-73</a>
						</div>
						<div class="row h2 align-bottom">
							<i class="fas fa-phone"></i><a class="text-mgrey" href="tel:74912768773">+7(4912)76-87-73</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col mt-2">
				<div class="row h4">
					<i class="fas fa-home "> </i>
					<a target="_blank" class=" ml-1 text-mgrey" href="https://yandex.ru/maps/-/CBQgrCEm0D" title="Показать на карте (Яндекс)">
						 г. Рязань, ул. Дзержинского, д. 42
					</a>
				</div>
				<div class="row">
					<div class="col-sm-3">
						<div class="row">
							ПН-ПТ
						</div>
						<div class="row">
							8:00-20:00
						</div>
					</div>
					<div class="col-sm-3">
						<div class="row">
							СБ
						</div>
						<div class="row">
							9:00-18:00
						</div>
					</div>
					<div class="col">
						<div class="row">
							ВС
						</div>
						<div class="row">
							Выходной
						</div>
					</div>
				</div>
			</div>
		</div>

		<nav class="navbar navbar-expand-sm bg-dred navbar-dark sticky-top">
			<ul class="navbar-nav">
				<li class="nav-item dropdown">
	 				<a class="nav-link text-lgrey mb-0" href="{% url 'services_url' %}" id="" data-toggle="">
						Услуги и цены
	 				</a>
	 				<div class="dropdown-menu rounded-0 mt-0">
						{% load get_all_objects %}
						{% get_all_objects 'Service' as all_services %}
						{% for item in all_services %}
							<a class="dropdown-item" href="{% url 'service_url' item.id %}">{{item.name}}</a>
						{% endfor %}
	 				</div>
   				</li>
				<li class="nav-item">
	  				<a class="nav-link text-lgrey" href="{% url 'doctors_url' %}">Наши врачи</a>
				</li>
				<li class="nav-item">
	  				<a class="nav-link text-lgrey" href="{% url 'technologies_url' %}">Технологии</a>
				</li>
				<li class="nav-item">
	  				<a class="nav-link text-lgrey" href="{% url 'results_url' %}">Результаты</a>
				</li>
				<li class="nav-item">
	  				<a class="nav-link text-lgrey" href="{% url 'comments_url' %}">Отзывы</a>
				</li>
				<li class="nav-item">
	  				<a class="nav-link text-lgrey" href="{% url 'news_url' %}">Новости</a>
				</li>
			</ul>
		</nav>
	<div class="container" style="min-height:87.5vh">
		<br>
		{% block content %}{% endblock %}
		<br>
	</div>
  	<footer class="page-footer font-small bg-dred text-center container-fluid m-0 rounded-0 text-lgrey">
		<div class="row">
			<ul class="nav col my-3">
				<li class="nav-item">
    				<a class="nav-link text-lgrey" href="{% url 'info_url' %}">Правовая информация</a>
  				</li>
				<li class="nav-item">
    				<a class="nav-link text-lgrey" href="{% url 'for_patients_url' %}">Пациентам</a>
  				</li>
				<li class="nav-item">
    				<a class="nav-link text-lgrey" href="{% url 'jobs_url' %}">Вакансии</a>
  				</li>
				<li class="nav-item">
    				<a class="nav-link text-lgrey" href="{% url 'charity_url' %}">Благотворительность</a>
  				</li>
			</ul>
		</div>
  	</footer>
</body>
</html>
