<!DOCTYPE HTML>

{% load get_meta %}
{% get_meta request as meta_data %}
{% get_meta_form meta_data as meta_form %}
<html>
<head>
	<title>
		Стоматология Аргентит Рязань | {{meta_data.title}}
	</title>
	<meta name="description" content="{{meta_data.description}}">
	<meta name="keywords" content="{{meta_data.keywords}}">
	{% block head %}
	{% endblock %}
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	{% include 'prod_tags.html' %}
	{% load staticfiles %}
	{% load bootstrap4 %}
	{% bootstrap_javascript jquery="slim" %}
	<link rel="stylesheet" href="{% static 'styles.css' %}">
	<link rel="stylesheet" href="{% static 'style.css' %}">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
	<link rel="icon" type="image/png" href="{% static 'images/favicon.png'%}">
	<link rel="icon" type="image/png" href="{% static 'images/favicon16.png' %}" sizes="16x16">
	<link rel="icon" type="image/png" href="{% static 'images/favicon32.png' %}" sizes="32x32">
	<link rel="icon" type="image/png" href="{% static 'images/favicon96.png' %}" sizes="96x96">
	<link rel="icon" type="image/png" href="{% static 'images/favicon120.png' %}" sizes="120x120">
	<link rel="icon" type="image/png" href="{% static 'images/favicon128.png' %}" sizes="128x128">
	<link rel="icon" type="image/png" href="{% static 'images/favicon196.png' %}" sizes="196x196">
	<link rel="icon" type="image/png" href="{% static 'images/favicon228.png' %}" sizes="228x228">
	<link rel="apple-touch-icon" href="{% static 'images/favicon120.png' %}">
	<link rel="apple-touch-icon" href="{% static 'images/favicon180.png' %}" sizes="180x180">
	<link rel="apple-touch-icon" href="{% static 'images/favicon152.png' %}" sizes="152x152">
	<link rel="apple-touch-icon" href="{% static 'images/favicon167.png' %}" sizes="167x167">
	<link rel="icon" href="https://argentit.com/favicon.ico" type="image/x-icon">
  	<link rel="shortcut icon" href="https://argentit.com/favicon.ico" type="image/x-icon">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js">
	</script>



</head>
<body class="b-0 p-0" style="min-width:1246px;">
		<div class="row mx-2 my-2 text-mgrey" >
			<div class="col-3">
				<div class="d-flex justify-content-center">
					<a href="{% url 'home_url' %}" ><img src="{% static 'images/logo2.png'%}" class="" style="max-height:100px;max-width:100%;"></a>
				</div>
			</div>
			<div class="col-5 mt-4">
				<div class="d-flex justify-content-center">
					<div class="row">
						<div class="col-12">
							<div class="row h2">
								<a class="text-mgrey no-underline" href="tel:74912768773">
									<i class="fas fa-phone"></i>
									+7(4912)76-87-73
								</a>
								<a href="https://vk.com/argentitryazan" class="text-mgrey ml-4">
									<i class="fab fa-vk h1"></i>
								</a>
							</div>
							<div class="row h2 align-bottom mb-0">
								<a class="text-mgrey no-underline" href="tel:74912923402">
									<i class="fas fa-phone"></i>
									+7(4912)92-34-02
								</a>
								<a href="https://www.instagram.com/argentit_dental_clinic/" class="text-mgrey ml-4">
									<i class="fab fa-instagram h1"></i>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col mt-4 ">
				<div class="">
					<div class="row">
						<div class="col pr-0">
							<a target="_blank" class=" ml-0 text-mgrey h4" href="https://yandex.ru/maps/-/CBQgrCEm0D" title="Показать на карте (Яндекс)">
								<i class="fas fa-home"></i>
								390005, г. Рязань, ул. Дзержинского, д. 42
							</a>
						</div>
					</div>

					<div class="d-flex flex-row">
						<div class="col">
							<div class="row">
								ПН-ПТ
							</div>
							<div class="row">
								8:00-20:00
							</div>
						</div>
						<div class="col">
							<div class="row">
								СБ
							</div>
							<div class="row">
								9:00-18:00
							</div>
						</div>
						<div class="col">
							<div class="row">
								ВС
							</div>
							<div class="row">
								Выходной
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<nav class="navbar navbar-expand bg-white sticky-top border-bottom border-dred pb-0">
			<ul class="navbar-nav text-center w-100">
				{% url 'services_url' as url_a %}
				<li class="nav-item dropdown {% if request.path == url_a %} bg-dred {% endif %}">
	 				<a class="nav-link mb-0 {% if request.path == url_a %} text-white {% else %} text-dred {% endif %}" href="{% url 'services_url' %}" id="" data-toggle="">
						Услуги и цены
	 				</a>
	 				<div class="dropdown-menu rounded-0 mt-0">
						{% load get_all_objects %}
						{% get_all_objects 'Service' as all_services %}
						{% for item in all_services %}
							<a class="dropdown-item" href="{% url 'service_url' item.id %}">{{item.name}}</a>
						{% endfor %}
	 				</div>
   				</li>
				{% url 'doctors_url' as url_a %}
				<li class="nav-item {% if request.path == url_a %} bg-dred {% endif %}">
	  				<a class="nav-link {% if request.path == url_a %} text-white {% else %} text-dred {% endif %}" href="{% url 'doctors_url' %}">Наши врачи</a>
				</li>
				{% url 'technologies_url' as url_a %}
				<li class="nav-item {% if request.path == url_a %} bg-dred {% endif %}">
	  				<a class="nav-link {% if request.path == url_a %} text-white {% else %} text-dred {% endif %}" href="{% url 'technologies_url' %}">Технологии</a>
				</li>
				{% url 'results_url' as url_a %}
				<li class="nav-item {% if request.path == url_a %} bg-dred {% endif %}">
	  				<a class="nav-link {% if request.path == url_a %} text-white {% else %} text-dred {% endif %}" href="{% url 'results_url' %}">Результаты</a>
				</li>
				{% url 'comments_url' as url_a %}
				<li class="nav-item {% if request.path == url_a %} bg-dred {% endif %}">
	  				<a class="nav-link {% if request.path == url_a %} text-white {% else %} text-dred {% endif %}" href="{% url 'comments_url' %}">Отзывы</a>
				</li>
				{% url 'news_url' as url_a %}
				<li class="nav-item {% if request.path == url_a %} bg-dred {% endif %}">
	  				<a class="nav-link {% if request.path == url_a %} text-white {% else %} text-dred {% endif %}" href="{% url 'news_url' %}">Новости</a>
				</li>
				{% url 'about_url' as url_a %}
				<li class="nav-item {% if request.path == url_a %} bg-dred {% endif %}">
	  				<a class="nav-link {% if request.path == url_a %} text-white {% else %} text-dred {% endif %}" href="{% url 'about_url' %}">О нас</a>
				</li>
				{% url 'sales_url' as url_a %}
				<li class="nav-item {% if request.path == url_a %} bg-dred {% endif %}">
	  				<a class="nav-link {% if request.path == url_a %} text-white {% else %} text-dred {% endif %}" href="{% url 'sales_url' %}">Акции</a>
				</li>
				{% url 'partners_url' as url_a %}
				<li class="nav-item {% if request.path == url_a %} bg-dred {% endif %}">
	  				<a class="nav-link {% if request.path == url_a %} text-white {% else %} text-dred {% endif %}" href="{% url 'partners_url' %}">Партнёры</a>
				</li>
				{% if request.user.is_authenticated %}
					<li class="nav-item ml-auto">
		  				<a class="nav-link text-dred" href="{% url 'logout_url' %}">Выйти</a>
					</li>
				{% endif %}
			</ul>
		</nav>
	<div class="mx-5" style="min-height:87.5vh">
		<br>
		{% block content %}{% endblock %}
		<br>
	</div>
	{% if request.user.is_authenticated %}
		{% if meta_data %}
			<div class="mx-5">
				<p class="h2">
					Мета информация о странице
					<code>
						{{meta_data.url}}
					</code>
				</p>
				{% if meta_form_error %}
					<div class="alert alert-danger rounded-0 container">{{meta_form_error_message|safe}}</div>
				{% endif %}
				<form class="" action="{% url 'edit_meta_url' id=meta_data.id %}" method="post">
					{% csrf_token %}
					{{meta_form.as_p}}
					<div class="col-2 pl-0">
						<input type="submit" value="Сохранить" class="btn btn-success rounded-0 container-fluid">
					</div>
				</form>
			</div>
			<br>
		{% endif %}
	{% endif %}
  	<footer class="page-footer font-small bg-dred text-center container-fluid m-0 rounded-0 text-lgrey">
		<div class="row">
			{% load get_documents %}
			<div class="col-5 my-3">
				<div class="row">
					<div class="col">
						{% if request.user.is_authenticated %}
							<a class="text-lgrey no-underline" href="{% url 'info_url' %}">
								Добавить/Удалить документ
							</a>
						{% endif %}
					</div>
				</div>
				{% get_documents 'info' as info %}
				{% for doc in info %}
					<div class="row">
						<div class="col">
							<a href="{{doc.file.url}}" target="_blank" class="text-lgrey no-underline">
								{{doc.name}}
							</a>
						</div>
					</div>
				{% endfor %}
			</div>
			<div class="col-3 my-3">
				<div class="row">
					<div class="col">
						{% if request.user.is_authenticated %}
							<a class="text-lgrey no-underline" href="{% url 'for_patients_url' %}">
								Добавить/Удалить документ
							</a>
						{% endif %}
					</div>
				</div>
				{% get_documents 'for_patients' as for_p %}
				<div class="row">
					<div class="col">
						<a href="{% url 'dms_url' %}" class=" text-lgrey no-underline">Полис ДМС</a>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<a class="text-lgrey no-underline" href="{% url 'jobs_url' %}">Вакансии</a>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<a class="text-lgrey no-underline" href="{% url 'charity_url' %}">Благотворительность</a>
					</div>
				</div>
				{% for doc in for_p %}
					<div class="row">
						<div class="col">
							<a href="{{doc.file.url}}" target="_blank" class="text-lgrey no-underline">
								{{doc.name}}
							</a>
						</div>
					</div>
				{% endfor %}
			</div>

			<div class="col-4 my-3" style="font-size:80%;">
				<div class="float-right">
					Лицензия, свидетельство № ЛО-62-01-001189 от 14.07.14
				</div>
				<div class="float-right">
					Имеются противопоказания, проконсультируйтесь с врачом
				</div>
				<div class="float-right">
					Есть вопросы? Напишите нам: <a href="maii
				lto:argentit@inbox.ru" title="?~]апи?~Aа?~B?~L пи?~A?~Lмо на office@aa
				rgentit.ru" class="">
				        argentit@inbox.ru</a>
				</div>
			</div>
		</div>
  	</footer>
</body>
</html>
