{% extends "base.html" %}
{% load thumbnail %}

{% block title %}
	{{technology.name}}
{% endblock %}

{% block content %}
	<h1 class="{{h1_class}}">
		{{technology.name}}
		{% if request.user.is_authenticated %}
			<a href="{% url 'edit_technology_url' technology.id %}">
				<button type="button" name="button" class="btn btn-primary rounded-0 ml-5">Изменить</button>
			</a>
		{% endif %}
	</h1>
	<div class="row">
		<div class="col ">
			<img src="{% thumbnail technology.img 500x500 crop %}" style="width:100%;max-width:500px;" class="float-left mr-5 mb-3"/>
			<p class="text-mgrey h4">
				{{technology.text}}
			</p>
		</div>
	</div>
	<br />
	{% if technology.doctors.count != 0 %}
		<h2>Врачи, которые работают с этой технологией:</h2>
		<div class="row">
			{% for doctor in technology.doctors.all %}
				{% if doctor.is_active %}
					<div class="col-3">
						<div class="row">
							<div class="col">
								<a href="{% url 'doctor_url' doctor.id %}"><img src="{% thumbnail doctor.photo 267x400 crop %}" alt="{{doctor}}" class="mw-100"></a>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<a href="{% url 'doctor_url' doctor.id %}" class="text-mgrey h4 no-underline">{{doctor}}</a>
							</div>
						</div>

					</div>
				{% endif %}
			{% endfor %}
		</div>
	{% endif %}
{% endblock %}
