{% extends "base.html" %}

{% block title %}
	<title>Стоматология Аргентит</title>
{% endblock %}

{% block content %}
	<h1 class="text-mgrey">{{technology.name}}</h1>
	<div class="row">
		<div class="col">
			<img src="{{technology.img.url}}" style="width:500px" class="float-left mr-2"/>
			<p class="text-mgrey h4">
				{{technology.text}}
			</p>
		</div>
	</div>
	<br />
	{% if technology.doctors.count != 0 %}
		<h2>Врачи, которые работают с этой технологией:</h2>
		{% for doctor in technology.doctors.all %}
			<div class="col-3">
				<a href="{% url 'doctor_url' doctor.id %}"><img src="{{doctor.photo.url}}" alt="{{doctor}}" class="mw-100"></a>
				<a href="{% url 'doctor_url' doctor.id %}" class="text-mgrey h4 no-underline">{{doctor}}</a>
			</div>
		{% endfor %}
	{% endif %}
{% endblock %}
