{% extends "base.html" %}
{% load cropping thumbnail %}

{% block title %}
	<title>Стоматология Аргентит</title>
{% endblock %}

{% block content %}
	<h1 class="h1_class">Технологии</h1>
	{% with url_name='new_technology_url' item='технологию'%}
		{% include 'admin/add_button.html' %}
	{% endwith %}
	<div class="row">
		{% for tech in technologies %}
			<div class="col-xl-3 align-self-start">
				<div class="m-3">
					<div class="row">
						<a href="{% url 'technology_url' tech.id %}"><img class="rounded-0" style="width:100%" src="{% cropped_thumbnail tech "cropping" %}"></a>

					</div>
					<div class="row mt-2">
						<a href="{% url 'technology_url' tech.id %}" class="h3 text-mgrey no-underline" >{{tech.name}}</a>
					</div>

				</div>
				{% url 'edit_technology_url' tech.id  as edit_url %}
				{% url 'remove_technology_url' tech.id  as remove_url %}
				{% include 'admin/remove_edit_buttons.html' %}
			</div>
		{% endfor %}
	</div>
{% endblock %}
