{% extends "base.html" %}

{% block title %}
	Главная
{% endblock %}
{% block head %}
	{% load cropping thumbnail %}
{% endblock %}

{% block content %}
	<h1 class="{{h1_class}}">Стоматология Аргентит</h1>
	{% if not active_element %}
		<p class="h5">Ни одного изображения ещё не добавлено</p>
	{% endif %}
	{% if active_element %}
		<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
			<div class="carousel-inner">
				<div class="carousel-item active">
					<a {% if active_element.post %}href="#{{active_element.post.id}}"{% endif %}><img class="d-block w-100 mh-100" src="{% cropped_thumbnail active_element 'cropping' %}" alt="{{active_element.title}}" style="max-width:100%; max-height:100%;">
					</a>
					<div class="carousel-caption d-none d-md-block">
						{% if active_element.title %}
							<a href="#{{active_element.post.id}}" class="text-mgrey no-underline">
								<h5 class="h2">{{active_element.title}}</h5>
							</a>
						{% endif %}
						{% if active_element.text %}
							<a href="#{{active_element.post.id}}" class="text-mgrey no-underline">
								<p>{{active_element.text}}</p>
							</a>
						{% endif %}
					</div>
				</div>
				{% for item in carousel %}
					<div class="carousel-item">
						<a {% if item.post %}href="#{{item.post.id}}"{% endif %}><img class="d-block w-100 mh-100" src="{% cropped_thumbnail item 'cropping' %}" alt="{{item.title}}" style="max-width:100%; max-height:100%;"></a>
						<div class="carousel-caption d-none d-md-block">
							{% if item.title %}
								<a href="#{{item.post.id}}" class=" text-mgrey no-underline">
									<h5 class="h2">{{item.title}}</h5>
								</a>
							{% endif %}
							{% if item.text %}
								<a href="#{{item.post.id}}" class="text-mgrey no-underline">
									<p>{{item.text}}</p>
								</a>
							{% endif %}
						</div>
					</div>
				{% endfor %}
			</div>
			{% if carousel %}
				<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			{% endif %}
		</div>
	{% endif %}
	{% if request.user.is_authenticated %}
		<div class="row">
			<div class="col">
				{% with url_name='new_carousel_element_url' item='изображение' %}
					{% include 'admin/add_button.html' %}
				{% endwith %}
			</div>
			<div class="col">
				<a href="{% url 'edit_carousel_url' %}" class="no-underline">
						<button class="btn btn-primary btn-block my-3 rounded-0">Изменить порядок / удалить</button>
				</a>
			</div>
		</div>
	{% endif %}
	{% with url_name='new_home_post_url' item='пост'%}
		{% include 'admin/add_button.html' %}
	{% endwith %}
	<ul class="list-group list-group-flush">
		{% for post in all_posts %}
			<li class="list-group-item" id='{{post.id}}'>
				<div class="row">
					<div class="col">
						{% if post.url %}
							<a href="{{post.url}}" class="text-mgrey"><h3>{{post.title}}</h3></a>
						{% else %}
							<h3>{{post.title}}</h3>
						{% endif %}
						<p>{{post.text}}</p>
					</div>
					<div class="col-2">
						{% url 'remove_home_post_url' post.id  as remove_url %}
						{% include 'admin/remove_edit_buttons.html' %}
					</div>
				</div>
			</li>
		{% endfor %}
	</ul>
{% endblock %}
