.drop_down : hover{
	background-color: yellow;
}

.not-underlined : hover{
	text-decoration: none !important;
}

.no-underlined-if-hover: hover{
	text-decoration: none !important;
}

@media (max-width:1228px){
	.for-small-devices{
		font-size: 75% !important;
	}
}
