{% extends "base.html" %}
{% load cropping thumbnail %}

{% block title %}
	Отзывы
{% endblock %}

{% block content %}
	<h1 class="{{h1_class}}">Отзывы</h1>
	{% with url_name='new_portal_url' item='сайт с отзывами'%}
		{% include 'admin/add_button.html' %}
	{% endwith %}
	<div class="row">
		{% for portal in all_portals %}
			<div class="col-6">
				<a href="{{portal.url}}">
					<img src="{% cropped_thumbnail portal "cropping" %}" alt="" class="w-100">
				</a>
				<a href="{{portal.url}}">
					<h3>{{portal.name}}</h3>
				</a>
				{% url 'edit_portal_url' portal.id as edit_url %}
				{% url 'remove_portal_url' portal.id as remove_url %}
				{% include 'admin/remove_edit_buttons.html' %}

			</div>
		{% endfor %}
		<div id="pd_widget_footer12013" class="pd_widget_footer " data-lpu="12013">
			<div class="pd_left">
				<a target="_blank" class="pd_lpu_name" href="https://prodoctorov.ru/ryazan/lpu/12013-argentit/">
					Стоматология «Аргентит»
				</a>
			</div>
			<div class="pd_middle">
				<div id="pd_widget_footer_content_middle12013"></div>
			</div>
			<div class="pd_right">
				<div id="pd_widget_footer_content_right12013"></div>
			</div>
		</div>
		<div class="pd_powered_by">
		powered by
		<a target="_blank" href="https://prodoctorov.ru/">
			<img class='pd_logo' src="https://prodoctorov.ru/static/logo_widget.png">
		</a>
		</div>
		<script src="https://prodoctorov.ru/static/js/widget_footer.js?v3"></script>
	</div>
{% endblock %}
