{% extends "base.html" %}
{% load cropping thumbnail %}

{% block title %}
	Отзывы
{% endblock %}

{% block content %}
	<h1 class="{{h1_class}}">Отзывы</h1>
	{% with url_name='new_portal_url' item='сайт с отзывами'%}
		{% include 'admin/add_button.html' %}
	{% endwith %}
	<div class="row">
		{% for portal in all_portals %}
			<div class="col-6">
				<a href="{{portal.url}}">
					<img src="{% cropped_thumbnail portal "cropping" %}" alt="" class="w-100">
				</a>
				<a href="{{portal.url}}">
					<h3>{{portal.name}}</h3>
				</a>
				{% url 'edit_portal_url' portal.id as edit_url %}
				{% url 'remove_portal_url' portal.id as remove_url %}
				{% include 'admin/remove_edit_buttons.html' %}
			</div>
		{% endfor %}
	</div>
{% endblock %}
