{% extends "base.html" %}

{% block title %}
	Пациентам
{% endblock %}

{% block content %}
	<h1 class="{{h1_class}}">ДМС</h1>
	{% if text %}
		<p>
			{{text}}
			{% if request.user.is_authenticated %}
				<a href="{% url 'new_text_url' %}">
					<button type="button" name="button" class="btn btn-primary rounded-0">Изменить</button>
				</a>
			{% endif %}
		</p>
	{% endif %}
	{% with url_name='new_dms_url' item='дмс'%}
		{% include 'admin/add_button.html' %}
	{% endwith %}
	<div class="row">
		<div class="col">
			<ul class="list-group list-group-flush">
				{% for item in all_dms %}
					<li class="list-group-item  pl-0">
						<div class="row">
							{% if item.image %}
								<div class="col-2">
									<a {% if item.url %}href="{{item.url}}"{% endif %} target="_blank" style="font-size: 25px;" class="text-mgrey no-underline">
										<img src="{{item.image.url}}" alt="item.name" class="w-100">
									</a>
								</div>
							{% endif %}
							<div class="col">
								<a {% if item.url %}href="{{item.url}}"{% endif %} target="_blank" style="font-size: 25px;" class="text-mgrey no-underline">{{item.name}}</a>
							</div>
						</div>

						{% url 'remove_dms_url' item.id  as remove_url %}
						{% url 'edit_dms_url' item.id  as edit_url %}
						{% include 'admin/remove_edit_buttons.html' %}
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
{% endblock %}
