{% extends "base.html" %}

{% block title %}
	Пациентам
{% endblock %}

{% block content %}
	<h1 class="{{h1_class}}">Пациентам</h1>
	{% with url_name='new_for_patients_url' item='документ'%}
		{% include 'admin/add_button.html' %}
	{% endwith %}
	<ul class="list-group list-group-flush">
		<li class="list-group-item border border-0 pl-0">
			<a href="{% url 'dms_url' %}" style="font-size: 25px;" class="text-mgrey no-underline">ДМС</a>
		</li>
		{% for document in documents %}
			<li class="list-group-item border border-0 pl-0">
				<a href="{{document.file.url}}" target="_blank" style="font-size: 25px;" class="text-mgrey no-underline">{{document.name}}</a>
				{% url 'remove_for_patients_url' document.id  as remove_url %}
				{% url 'edit_for_patients_url' document.id  as edit_url %}
				{% include 'admin/remove_edit_buttons.html' %}
			</li>
		{% endfor %}
	</ul>
{% endblock %}
